/*Main styles for cl2p structure*/

html {
	overflow-y: scroll;
	height:100%;
}

body {
	margin: 0px;
	background-color: #eeeeee;
	font-size: 14px;
	height: 100%;
	min-height: 500px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div#header {
	height: 75px;
	background-color:#5d5d5d;
	margin: 0px;
	display: block;
	position: fixed;
	right: 0px;
	left: 0px;
	background-image: -webkit-linear-gradient(top, #707070, #5D5D5D);
	background-repeat: repeat-x;
}

div#header-content{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	max-width: 900px;
	min-width: 600px;
	padding: 0px;
}

div#logo {
	padding:0px;
	float: left;
	margin-top: -17px;
	min-height: 1px;
}

#header-links{
	list-style: none;
	outline-style: none;
	background-image: none;
	display: block;
	color: #82eac9;
}

li.header-options{
	float: right;
	font-size: 16px;
	margin-top: 5px;
	margin-right: 8px;
	min-width: 60px;
	text-align: center;
}

#header-links li:hover{
	font-weight: bold;
}

li#sign-out{
	margin-top: 30px;
	margin-right: -70px;
	font-size: 16px;
	min-width: 60px;
	text-align: center;
	float: right;
}

div#main-container{
	margin: auto;
	max-width: 900px;
	min-width: 600px;
	padding-top: 80px;
	padding-left: 5px;
	padding-right: 15px;
	background-color: #FFFFFF;
}

div#footer {
	margin: auto;
	max-width: 900px;
	min-width: 600px;
	padding-top: 20px;
}


/* Styles for typography and stuff not related to the structure of the site */


div.big-input {
	width:400px;
	margin: 0 auto;
}

.big-input-text {
	height: 30px;
	width: 300px;
	font-size: 30px;
}

.big-bold{
	font-size: 30px;
	font-weight:bold;
}

.links:link { color:#82eac9; text-decoration: none; }
.links:hover { color:#82eac9; text-decoration: none; }
.links:visited { color:#82eac9; text-decoration: none; }
.links:active { text-decoration: none; color: #82eac9;}
