/*Main styles for cl2p structure*/

html {
	overflow-y: scroll;
	height:100%;
}

body {
	margin: 0px;
	background-color: #eeeeee;
	font-size: 14px;
	height: 100%;
	min-height: 500px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div#header {
	height: 75px;
	background-color:#5d5d5d;
	margin: 0px;
	display: block;
	position: fixed;
	right: 0px;
	left: 0px;
	background-image: -webkit-linear-gradient(top, #707070, #5D5D5D);
	background-repeat: repeat-x;
}

div#header-content{
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	min-width: 600px;
}

div#main-container{
	margin: auto;
	max-width: 900px;
	min-width: 600px;
	padding-top: 80px;
	background-color: #FFFFFF;
}

div#footer {
	margin: auto;
	max-width: 900px;
	min-width: 600px;
	padding-top: 20px;
}
